
.customTable {
  border: 2px solid #dee2e6;
  border-radius: 10px;
  border-collapse: separate;
  overflow: hidden;
  width: 100%;
  ;
}
.headerRow {
  background-color: #6c63ff !important;
  color: #fff !important;
}
.headerRow th {
  background-color: #6c63ff !important;
  color: #fff !important;
  font-weight: normal;
}

.headerRow th:first-child {
  border-top-left-radius: 5px;
}

.headerRow th:last-child {
  border-top-right-radius: 5px;
  text-align: right;
}
.tableRow{
  color:#555555;
}
.tableRow td:first-child{
  border-left:1px solid #dee2e6;
}
.tableRow td:last-child{
  border-right:1px solid #dee2e6;
}
.tableRow:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

.tableRow:last-child td:last-child {
  border-bottom-right-radius: 5px;
}